body {
    font-family: Courier New, Courier, monospace;
}

h1 {
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 1.5em; 
    font-weight: bold;
    color: #118bff;
}

.fa-social {
    color: #118bff;
    margin-top: 0.5em;
    font-size: 3em;
}

.fa-contact {
    color: #118bff;
    font-size: 2em;
    margin-top: 0.5em;
    width: 2em;
}

.dark {
    color: #443986;
}
